@charset "utf-8";



/* main */
main{
    margin: 0 70px; 
    padding: 0 30px;
    position: relative;
}

#nav_title{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 4rem;
    position: fixed;
    top: 100px;
    left: 120px;
}

#nav_sub_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    position: fixed;
    top: 175px;
    left: 140px;
}

#content{
    margin: 180px auto 0 auto;
    width: 60%;
}

#content .category{
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    border: 1px solid #c2cad1;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: relative;
    padding-bottom: 20px;
}

#content .category #title_wrap{
    position: sticky;
    top: 70px;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 1;
}

#content .category #title_wrap .circle{
    position: absolute;
    top: 7px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    border: 1px solid #c2cad1;
    box-sizing: border-box;
    z-index: 1;
}

#content .category #title_wrap .c1{
    right: 9px;
    background: #ed6a5e;
}

#content .category #title_wrap .c2{
    right: 33px;
    background: #f5bf50;
}

#content .category #title_wrap .c3{
    right: 57px;
    background: #62c554;
}

#content .category #title_wrap .title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding-top: 15px;
    background: #e7eaec;  
    border-radius: 10px 10px 0 0;
    color: #000;
}

#content .category #title_wrap .sub_title{
    font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 30px;
    padding-top: 5px;
    border-bottom: 1px solid #c2cad1;; 
    padding-bottom: 20px;               
    box-sizing: border-box;   
    background: #e7eaec;  
    font-weight: 500;  
    color: #000;
}

#content .category .item{
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
    line-height: 120px;
    margin: 20px auto;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

#content .category .item li{
    width: 33%;
}

#content .category .item img{
    max-width: 300px;
    max-height: 120px;
    height: auto;
    vertical-align: middle;
}
/* main */



@media screen and (max-width: 1024px){

    #nav_title{
        font-size: 2.5rem;
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #nav_sub_title{
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
    }

    #content{
        width: 100%;
        margin: 0 auto;
        margin-top: 200px;
        position: relative;
    }

    #content .category{
        padding-top: 0px;
        margin-bottom: 50px;
        width: 100%;
    }

    #content .category #title_wrap .circle{
        z-index: 1;
    }

    #content .category #title_wrap .title{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 2.2rem;
    }
    
    #content .category #title_wrap .sub_title{
        position: relative;
        left: 50%; 
        transform: translateX(-50%); 
        width: 100%;
        margin-bottom: 30px;
        font-weight: 500;
    }

    #content .category .item{
        position: relative; 
        left: 50%; 
        transform: translateX(-50%); 
        width: 100%;
        height: 100px;
        line-height: 100px;
        margin: 10px auto;
        font-size: 1.2rem;
    }

    #content .category .item li{
        width: 50%;
    }

    #content .category .item li:last-child{
        display: none;
    }

    #content .category .item img{
        max-width: 150px;
        max-height: 100px;
        height: auto;
    }

}





@media screen and (max-width: 767px){

    main{
        margin: 0; 
    }

    #nav_wrap{
        position: fixed;
        width: 100%;
        top: 70px;
        left: 0;
        height: 30px;
        background: var(--color); 
        display: flex;   
        z-index: 2;
    }

    #nav_title{
        position: absolute;
        height: 30px;
        line-height: 30px;
        top: 0;
        font-size: 1rem;
        color: var(--background);
        font-family: "Playwrite NZ", cursive;
        font-weight: 500;
    }
    
    #nav_sub_title{
        position: absolute;
        height: 30px;
        line-height: 30px;
        top: 0;
        font-size: 1rem;
        color: var(--background);
        display: none;
    }
    
    #content{
        margin-top: 130px;
    }

    #content .category #title_wrap{
        position: sticky;
        top: 100px;
    }

    #content .category #title_wrap .title{
        font-size: 1.5rem;
        padding-top: 12px;
    }
    
    #content .category #title_wrap .sub_title{
        font-size: 1.1rem;
        padding-bottom: 12px;
    }

    #content .category .item{
        justify-content: space-around;
        font-size: 1rem;
        height: 80px;
        line-height: 80px;
    }

    #content .category .item img{
        max-width: 100px;
        max-height: 80px;
        height: auto;
    }

    #content .category .item li:first-child{
        width: 30%;
    }
    #content .category .item li:second-child{
        width: 70%;
    }
    
}