@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Unna:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Prata&family=Unna:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=DM+Serif+Text&family=Prata&family=Unna:wght@400;700&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Prata', serif;
font-family: 'Unna', serif;
font-family: 'DM Serif Text', serif;
font-family: 'Arapey', serif;
*/






/* main */
main{
    margin: 0 70px; 
    padding: 0 30px;
    position: relative;
}

#nav_title{
    font-size: 4rem;
    position: fixed;
    top: 100px;
    left: 120px;
}

#nav_sub_title{
    font-family: Noto Sans KR;
    font-weight: 500;
    position: fixed;
    top: 170px;
    left: 115px;
}

#content{
    margin: 180px auto 0 auto;
    width: 60%;
}

#content .category{
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    border: 1px solid #c2cad1;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: relative;
    padding-bottom: 20px;
}

#content .category #title_wrap{
    position: sticky;
    top: 70px;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 1;
}

#content .category #title_wrap .circle{
    position: absolute;
    top: 7px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    border: 1px solid #c2cad1;
    box-sizing: border-box;
    z-index: 1;
}

#content .category #title_wrap .c1{
    right: 9px;
    background: #ed6a5e;
}

#content .category #title_wrap .c2{
    right: 33px;
    background: #f5bf50;
}

#content .category #title_wrap .c3{
    right: 57px;
    background: #62c554;
}

#content .category #title_wrap .title{
    font-size: 50px;
    padding-top: 15px;
    background: #e7eaec;  
    border-radius: 10px 10px 0 0;
}

#content .category #title_wrap .sub_title{
    font-family: Noto Sans KR;
    margin-bottom: 30px;
    padding-top: 5px;
    border-bottom: 1px solid #c2cad1;; 
    padding-bottom: 20px;               
    box-sizing: border-box;   
    background: #e7eaec;  
    font-weight: 600;  
}

#content .category .item{
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
    line-height: 120px;
    margin: 20px auto;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
}

#content .category .item li{
    width: 33%;
}

#content .category .item img{
    max-width: 300px;
    max-height: 120px;
    height: auto;
    vertical-align: middle;
}
/* main */



@media screen and (max-width: 1024px){

    #nav_title{
        font-size: 2.5rem;
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #nav_sub_title{
        font-family: Noto Sans KR;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
    }

    #content{
        width: 100%;
        margin: 0 auto;
        margin-top: 200px;
        position: relative;
    }

    #content .category{
        padding-top: 0px;
        margin-bottom: 50px;
        width: 100%;
    }

    #content .category .circle{
        z-index: 1;
    }

    #content .category .title{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 2.2rem;
    }
    
    #content .category .sub_title{
        position: relative;
        left: 50%; 
        transform: translateX(-50%); 
        width: 100%;
        margin-bottom: 30px;
        font-weight: 500;
    }

    #content .category .item{
        position: relative; 
        left: 50%; 
        transform: translateX(-50%); 
        width: 100%;
        border: 1px solid red;
        height: 100px;
        line-height: 100px;
        margin: 10px auto;
        font-size: 1.2rem;
    }

    #content .category .item li{
        width: 50%;
    }

    #content .category .item li:last-child{
        display: none;
    }

    #content .category .item img{
        max-width: 150px;
        max-height: 100px;
        height: auto;
    }

}





@media screen and (max-width: 767px){

    main{
        margin: 0 10px; 
    }

    #content .category .title{
        font-size: 2rem;
    }
    
    #content .category .sub_title{
        font-size: 1.1rem;
        padding-bottom: 20px;
    }

    #content .category .item{
        justify-content: space-around;
        font-size: 1rem;
    }

    #content .category .item img{
        max-width: 100px;
        max-height: 80px;
        height: auto;
    }
    
}