@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Unna:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Prata&family=Unna:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=DM+Serif+Text&family=Prata&family=Unna:wght@400;700&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Prata', serif;
font-family: 'Unna', serif;
font-family: 'DM Serif Text', serif;
font-family: 'Arapey', serif;
*/






/* main */
main{
    margin: 0 70px; 
    padding: 0 30px;
}

#nav_title{
    font-size: 60px;
    position: fixed;
    top: 100px;
    left: 120px;
}

#nav_sub_title{
    font-family: Noto Sans KR;
    font-weight: 500;
    position: fixed;
    top: 170px;
    left: 115px;
}

#content{
    margin: 140px auto;
    width: 80%;
}

#content .title{
    font-size: 50px;
    padding-top: 0;
}

#content .sub_title{
    font-family: Noto Sans KR;
    margin-top: 5px;
    margin-bottom: 30px;
}

#content .category{
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;

}

#content .category .item{
    display: flex;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
    line-height: 120px;
    margin: 20px auto;
    font-size: 2rem;
}

#content .category .item li{
    width: 33%;
}

#content .category .item img{
    height: 120px;
}
/* main */







@media screen and (max-width: 1024px){

}





	







@media screen and (max-width: 767px){

}