@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+MX:wght@100..400&family=Playwrite+NG+Modern:wght@100..400&family=Playwrite+NZ:wght@100..400&family=Playwrite+US+Trad:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: "Montserrat Alternates", sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: "Noto Serif KR", serif;
font-family: "Noto Sans", sans-serif;
font-family: 'Prata', serif;
font-family: 'Unna', serif;
font-family: 'DM Serif Text', serif;
font-family: 'Arapey', serif;
font-family: "Nunito", sans-serif;
font-family: "Nunito Sans", sans-serif;
font-family: "Lora", serif;
font-family: "Playfair Display", serif;
font-family: "Raleway", sans-serif;
font-family: "Roboto Mono", monospace;
font-family: "Lato", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Playwrite NZ", cursive;
font-family: "Playwrite US Trad", cursive;
font-family: "Playwrite NG Modern", cursive;
*/


/* mouse
*{
    cursor: none;
}

.cursor{
    position: fixed;
    z-index: 9999999;
    border: 4px solid red;
    width: 0;
    height: 0;
    border-radius: 50%;
    pointer-events: none;

    transition: width 0.2s, height 0.2s;
    transform: translate(-50%, -50%);
}
mouse */


/* data-theme root */ 
:root{
    --color: #000;
    --background: #fff;
}
  
[data-theme='dark'] {
    --background: #000;
    --color: #fff;
}


html, header, main, footer, div, a, span{
    background: var(--background);
    color: var(--color);
}


.themed {
    background: var(--boxColor);
    color: var(--background);

  }
/* data-theme root */ 





body{
    font-family: "Poppins", sans-serif;
    width: 100%; 
    box-sizing: border-box;
    position: absolute;
}

body:after{
    content: ''; 
    position: absolute; 
    top: 70px; 
    left: 70px; 
    height: 100%; 
    width: 1px; 
    background: var(--color);
}

a{
    text-decoration: none; 
    color: var(--color);
}

::selection{
    background: #202a25; 
    color: #fff;
}
.noselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}






/* [header] */
header{
    font-family: 'DM Serif Text', serif;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--color);
    background: var(--background);
}

#gnb{
    width: 100%;
    height: 70px;
    line-height: 70px;
}

/* [header] logo */
#gnb #logo{
    display: block;
    position: fixed;
    left: 13px;
    top: 10px;
    width: 40px;
} 


#gnb #logo img{
    width: 50px;
    height: 50px;
} 
/* [header] logo */



/* [header] hamburger btn */
#gnb #ham_btn{
    display: none;
}
/* [header] hamburger btn */



/* [header] night mode */
#gnb #toggle{
    position: fixed; 
    right: 110px; 
    border: 1px solid blue;
}
/* [header] night mode */



#gnb #gnb_wrap{
    width: 500px; 
    height: 70px; 
    line-height: 70px;
    display: flex; 
    justify-content: space-between; 
    margin: 0 auto; 
    text-align: center; 
    position: absolute; 
    right: 160px;
}

#gnb #gnb_wrap li{
    width: calc(100% / 3); 
    position: relative;
}

#gnb #gnb_wrap li a{
    font-size: 1.5rem; 
    background: none; 
    transition: 0.3s;
}

#gnb #gnb_wrap li a::after{
    content: "";
    position: absolute;
    background: var(--color);
    height: 5px;
    bottom: 0;
    left: 0;
    right: 100%;
    transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
    z-index: -1;
}

#gnb #gnb_wrap li a:hover::after{
    left: 0;
    right: 0;
}


/* [header] current menu */
#gnb .here{
    bottom: 0;
    border-bottom: 5px solid var(--color);
}
/* [header] current menu */


/* [header] */




#footer_wrap{
    width: 100%; 
    height: 70px;
    text-align: center;
}






@media screen and (max-width: 1024px){

}





	







@media screen and (max-width: 767px){

    /* body left line */
    body:after{
        content: ''; 
        position: static; 
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        background: none;
    }
    /* body left line */


    /* [header] logo */
    #gnb #logo{
        left: 50%;
        transform: translateX(-50%);
    }
    /* [header] logo */


    /* [header] hamburger btn */
    #gnb #ham_btn{display: block; position: absolute; left: 18px; top: 18px; width: 40px; height: 33px; cursor: pointer;} 

    #gnb #ham_btn span{position: absolute; display: block; height: 3px; background: var(--color); left: 0; transform: rotate(0deg); transition: 0.25s ease-in-out;}						   
    #gnb #ham_btn span:nth-child(1){top: 0; width: 100%;}									  
    #gnb #ham_btn span:nth-child(2){top: 15px; width: 100%;}									  
    #gnb #ham_btn span:nth-child(3){top: 30px; width: 100%;}			

    #gnb #ham_btn:hover span:nth-child(1){width: 100%;}									  
    #gnb #ham_btn:hover span:nth-child(2){width: 80%;}									  
    #gnb #ham_btn:hover span:nth-child(3){width: 60%;}

    #gnb #ham_btn.open span:nth-child(1){top: 18px; transform: rotate(135deg);}
    #gnb #ham_btn.open span:nth-child(2){opacity: 0; left: -60px;}
    #gnb #ham_btn.open span:nth-child(3){top: 18px; transform: rotate(-135deg);}
    /* [header] hamburger btn */


    /* [header] night mode */
    #gnb #toggle{
        right: 55px;
    }
    /* [header] night mode */


    #gnb #gnb_wrap{
        z-index: 99999;
        display: block;
        position: fixed;
        width: 200px;
        height: 1000px;
        top: 70px;
        left: -200px;
        border: 1px solid var(--color);
        border-left: 0;
        background: var(--background);
        transition: all 0.5s;
        box-sizing: border-box;
        margin: 0;
        
    }

    #gnb #gnb_wrap.open{
        z-index: 99999;
        display: block;
        position: fixed;
        width: 200px;
        height: 1000px;
        top: 70px;
        left: 0;
        border: 1px solid var(--color);
        border-left: 0;
        background: var(--background);
        box-sizing: border-box;
    }

    #gnb #gnb_wrap li{
        width: 100%; 
        text-align: left;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid var(--color);
    }
    
    #gnb #gnb_wrap li a{
        font-size: 1.3rem; 
        transition: 0;
        padding-left: 20px;
    }

    #gnb #gnb_wrap li a{
        font-size: 1.5rem; 
        background: none; 
        transition: 0.3s;
    }

    #gnb #gnb_wrap li a::after{
        content: "";
        position: absolute;
        background: var(--color);
        height: 100%;
        bottom: 0;
        left: 0;
        right: 100%;
        transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1);
        z-index: -1;
    }

    #gnb #gnb_wrap li a:hover {
        color: var(--background)
    }

    #gnb #gnb_wrap li a:hover::after{
        left: 0;
        right: 0;
    }


    /* [header] current menu */
    #gnb .here{
        border-bottom: 0;
        height: 100%;
        background: var(--color);
    }

    #gnb .here a{
        color: var(--background);
    }
    /* [header] current menu */





    


}