@charset "utf-8";

body{
    height: 150%;
    overflow: hidden;
}

/* main */
main{
    margin: 0 auto;
    margin: 0 70px; 
    padding: 0 30px;
}    

#nav_title{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 3.5rem;
    position: fixed;
    top: 100px;
    left: 120px;
}

#nav_sub_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    position: fixed;
    top: 170px;
    left: 160px;
}

#content{
    width: 80%;
    margin: 0 auto;
    margin-top: 140px;
}

#content .category{
    width: 100%;
    height: 500px;
    top: 100px;
    position: relative;
    border: 1px solid #c2cad1;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#content .category #title_wrap{
    border-bottom: 1px solid #c2cad1;
    padding: 15px;               
    box-sizing: border-box;   
    background: #e7eaec;
    border-radius: 10px 10px 0 0;  
}

#content .category #title_wrap .circle{
    position: absolute;
    top: 7px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    border: 1px solid #c2cad1;
    box-sizing: border-box;
}

#content .category #title_wrap .c1{
    right: 9px;
    background: #ed6a5e;
}

#content .category #title_wrap .c2{
    right: 33px;
    background: #f5bf50;
}

#content .category #title_wrap .c3{
    right: 57px;
    background: #62c554;
}

#content #photo img{
    width: 320px;
    position: absolute;
    left: 5%;
    top: 50px;
}

#content #photo .sticker{
    color: var(--background);
    background: var(--color);
    width: 250px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    position: absolute;
    top: 400px;
    left: 8%;
    font-size: 23px;
    text-align: center;
}

#content #info{
    width: 55%;
    position: absolute;
    top: 90px;
    right: 50px;
}

#content .title{
    font-family: "Playwrite NZ", cursive;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#content .sub_title{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 25px 0;
    font-size: 1.8rem;
}

#content .sub_title .eng{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

#content #info ul{
    border-top: 3px solid var(--color);
    height: 50px;
    line-height: 50px;
    display: flex;
}

#content #info ul:last-child{
    border-bottom: 3px solid var(--color);
}

#content #info .bold{
    font-family: 'Unna', serif;
    font-weight: 600;
    font-size: 1.5rem;
    width: 30%;
}

#content #info .icon{
    display: none;
}

#content #info .field{
    text-align: left;
    width: 70%;
    font-size: 1rem;
}


/* typing 스크립트 */
.typed{
    position: relative;
    display: inline-block;
    width: 500px;
}

.typed::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: var(--color);
}

.typed.active::after{
    display: none;
}

/* main */



@media screen and (max-width: 1024px){

    #nav_title{
        font-size: 2.5rem;
        position: absolute;
        top: 95px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #nav_sub_title{
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translateX(-50%);
    }

    #content{
        width: 100%;
        height: 500px;
        margin: 0 auto;
        margin-top: 200px;
        position: relative;
    }

    #content .category{
        height: 520px;
        top: 0;
    }

    #content #photo img{
        width: 180px;
        margin-bottom: 0;
        top: 35px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: e7eaec;
    }
    
    #content #photo .sticker{
        display: none;
    }
    
    #content #info{
        top: 225px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }
    
    #content .title{
        font-size: 1.8rem;
        text-align: center;
    }
    
    #content .sub_title{
        font-size: 1.4rem;
        text-align: center;
        margin: 25px 0 20px 0;
    }
    
    #content #info ul{
        height: 40px;
        line-height: 40px;
    }
    
    #content #info .bold{
        font-weight: 600;
        font-size: 1.3rem;
        width: 30%;
    }
    
    #content #info .field{
        text-align: left;
        width: 70%;
        font-size: 1rem;
    }

    #content #info ul{
        border-top: 1px solid #c2cad1;
    }
    
    #content #info ul:last-child{
        border-bottom: 1px solid #c2cad1;
    }


}







@media screen and (max-width: 767px){

    main{
        margin: 0 auto;
    }

    #nav_wrap{
        position: fixed;
        width: 100%;
        top: 70px;
        left: 0;
        height: 30px;
        background: var(--color); 
        display: flex;   
        z-index: 2;
    }
    
    #nav_title{
        position: absolute;
        height: 30px;
        line-height: 30px;
        top: 0;
        font-size: 1rem;
        color: var(--background);
        font-family: "Playwrite NZ", cursive;
        font-weight: 500;
    }
    
    #nav_sub_title{
        position: absolute;
        height: 30px;
        line-height: 30px;
        top: 0;
        font-size: 1rem;
        color: var(--background);
        display: none;
    }

    #content{
        width: 100%;
        margin-top: 130px;
    }

    #content .category{
        height: 510px;
    }

    #content #photo img{
        top: 30px;
    }

    #content #info{
        width: 95%;
        top: 220px;
    }

    #content .title{
        font-size: 1.5rem;
    }
    
    #content .sub_title{
        font-size: 1.3rem;
        margin: 10px 0 15px 0;
    }

    #content .sub_title .none{
        display: none;
    }

    #content .sub_title .eng{
        margin-top: 10px;
        display: block;
        font-size: 1rem;
    }

    #content #info ul{
        justify-content: flex-end;
    }

    #content #info .bold{
        display: none;
    }
    
    #content #info .icon{
        display: flex;
        width: 15%;
        position: absolute;
        left: 3%;
    }

    #content #info img{
        width: 20px;
        margin-top: 10px;
    }

    #content #info .field{
        width: 85%;
        font-size: 0.9rem;
    }
    
    

}