@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/



body{font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: #000;}


header{font-family: 'Montserrat', sans-serif; position: fixed; z-index: 99999; width: 100%; height: 100px; /* background: #fff; */}

#gnb{width: 100%; height: 100px; line-height: 100px;}
#gnb #hammenu{display: none;}
#gnb .gnb_wrap{width: 600px; display: flex; justify-content: space-between; margin: 0 auto; text-align: center;}
#gnb .gnb_wrap li{width: calc(100% / 3); position: relative;}
#gnb .gnb_wrap li a{font-size: 1.7rem; transition: 0.4s;}
#gnb .gnb_wrap li a:hover{font-weight: 600; font-size: 2.2rem; color: #19499B;}
#gnb .gnb_wrap li a:after{content: ""; position: absolute; background: #19499B; height: 4px; bottom: 0; transition: 0.3s all cubic-bezier(0.86, 0, 0.07, 1); left: 0; right: 100%;} 
#gnb .gnb_wrap li a:hover:after{left: 0; right: 0;}





@media screen and (max-width: 1024px){
#gnb{height: 70px;}
#gnb #hammenu{display: block; cursor: pointer; background: none; border: none; position: absolute; right: 20px; top: 20px; width: auto; height: auto;}
#gnb .gnb_wrap{flex-direction: column; width: 100px; text-align: right; position: fixed; margin-top: 70px; right: -100px; transition: all 0.5s; z-index: 99999;}
#gnb .gnb_wrap.open{position: fixed; right: 0; width: 100px;}
#gnb .gnb_wrap li{width: 100%; height: 50px; line-height: 50px;}
#gnb .gnb_wrap li a{font-weight: 500; padding-right: 20px; font-size: 1.2rem; transition: 0.2s;}
#gnb .gnb_wrap li a:hover{font-weight: 600; font-size: 1.3rem; color: #19499B;}
#gnb .gnb_wrap li a:after{content: none;} 

}