@charset "utf-8";


.kor{
    font-family: 'Noto Sans KR', sans-serif;
}

main{
    margin: 0 70px; 
    padding: 0 30px;
    font-family: "Roboto Mono", monospace;
}

.typed{
    position: relative;
    display: inline-block;
}

.typed::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}

.typed.active::after{
    display: none;
}

.box_wrap{
    position: relative;
    border: 1px solid #c2cad1;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;   
    width: 60%;
    height: 60%;
}

.box_wrap .title_wrap{
    border-bottom: 1px solid #c2cad1;
    padding: 15px;               
    box-sizing: border-box;   
    background: #e7eaec;
    border-radius: 10px 10px 0 0;  
}

.box_wrap .title_wrap .circle{
    position: absolute;
    top: 7px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    border: 1px solid #c2cad1;
    box-sizing: border-box;
}

.box_wrap .title_wrap .c1{
    right: 9px;
    background: #ed6a5e;
}

.box_wrap .title_wrap .c2{
    right: 33px;
    background: #f5bf50;
}

.box_wrap .title_wrap .c3{
    right: 57px;
    background: #62c554;
}

.box_wrap .field{
    padding: 3% 5%;
    text-align: center;
    font-size: 2rem;
}

.box_wrap .field .intro{
    text-align: left;
    margin-bottom: 100px;
}


/* main */







/* footer */
#footer_wrap{
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    text-align: center;
    font-size: 0.9rem;;
}
/* footer */




@media screen and (max-width: 1024px){

    main{
        margin: 0; 
    }

    .box_wrap{
        width: 70%;
    }

    .box_wrap .field{
        font-size: 1.5rem;
    }    

}





	







@media screen and (max-width: 767px){

    main{
        margin: 0;
    }

    .box_wrap{
        width: 100%;
        height: 500px;
        position: absolute;
        top: 100px;
    }

    .box_wrap .field{
        font-size: 1rem;
    }

}