@charset "utf-8";


.kor{
    font-family: 'Noto Sans KR', sans-serif;
}

main{
    margin: 0 70px; 
    padding: 0 30px;
    font-family: "Roboto Mono", monospace;
}

.typed{
    position: relative;
    display: inline-block;
}

.typed::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}

.typed.active::after{
    display: none;
}

.box_wrap{
    position: relative;
    border: 1px solid #c2cad1;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 auto;   
    width: 60%;
    height: 65%;
}

.box_wrap .title_wrap{
    border-bottom: 1px solid #c2cad1;
    padding: 15px;               
    box-sizing: border-box;   
    background: #e7eaec;
    border-radius: 10px 10px 0 0;  
}

.box_wrap .title_wrap .circle{
    position: absolute;
    top: 7px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    border: 1px solid #c2cad1;
    box-sizing: border-box;
}

.box_wrap .title_wrap .c1{
    right: 9px;
    background: #ed6a5e;
}

.box_wrap .title_wrap .c2{
    right: 33px;
    background: #f5bf50;
}

.box_wrap .title_wrap .c3{
    right: 57px;
    background: #62c554;
}

.box_wrap .field{
    padding: 3% 5%;
    text-align: center;
    font-size: 2rem;
}

.box_wrap .field .intro{
    text-align: left;
    margin-bottom: 70px;
}

.box_wrap .field .desc{
    font-size: 1.5rem;
}

.box_wrap .field #folder_wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;
}

.box_wrap .field #folder_wrap .folder{
    width: 33%;
}

.box_wrap .field #folder_wrap .folder .name{
    font-size: 1.1rem;
    margin-top: 5px;
}

.box_wrap .field #folder_wrap .folder .tooltip{
    visibility: hidden;
    position: relative;
    width: 150px;
    background: #e7eaec;
    font-size: 0.9rem;
    font-family: 'Noto Sans KR', sans-serif;
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #c2cad1;
    padding: 5px;
    box-sizing: border-box;
}

.box_wrap .field #folder_wrap .folder .tooltip::after{
    content: "";
    position: absolute;
    top: -18px;
    left: 65px;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent #e7eaec transparent;
    box-sizing: border-box;
}

.box_wrap .field #folder_wrap .folder .tooltip::before{
    content: '';
    position: absolute;
    display: block;
    border-color: #c2cad1 transparent;
    border-style: solid;
    border-width: 0 10px 10px 10px;    
    left: 64px;
    top: -10px;
    width: 0;
}


.box_wrap .field #folder_wrap .folder:hover .tooltip{
    visibility: visible;
}



/* main */







/* footer */
#footer_wrap{
    width: 100%; 
    position: absolute; 
    bottom: 0; 
    text-align: center;
    font-size: 0.8rem;;
    font-family: "Roboto Mono", monospace;
}
/* footer */




@media screen and (max-width: 1024px){

    main{
        margin: 0; 
    }

    .box_wrap{
        width: 70%;
        height: 50%;
    }

    .box_wrap .field .intro{
        font-size: 1.5rem;
        margin-bottom: 45px;
    }    

    .box_wrap .field .desc{
        font-size: 1.2rem;
    }

    .box_wrap .field #folder_wrap{
        margin-top: 45px;
    }

    .box_wrap .field #folder_wrap .folder img{
        width: 50px;
    }

    .box_wrap .field #folder_wrap .folder .name{
        font-size: 0.9rem;
    }

    .box_wrap .field #folder_wrap .folder .tooltip{
        font-size: 0.8rem;
        width: 130px;
        margin-top: 15px;
    }

    .box_wrap .field #folder_wrap .folder .tooltip::after{
        top: -14px;
        left: 56px;
        border-width: 7px;
    }
    
    .box_wrap .field #folder_wrap .folder .tooltip::before{
        border-width: 0 8px 8px 8px;    
        top: -8px;
        left: 55px;
    }
}





	







@media screen and (max-width: 767px){

    main{
        margin: 0;
    }

    .box_wrap{
        width: 100%;
        height: 400px;
        position: absolute;
        top: 100px;
    }

    .box_wrap .field .intro{
        font-size: 1.3rem;
    }

    .box_wrap .field .desc{
        font-size: 1rem;
    }

    .box_wrap .field #folder_wrap .folder .name{
        font-size: 0.8rem;
    }

    .box_wrap .field #folder_wrap .folder .tooltip{
        font-size: 0.8rem;
        width: 110px;
    }

    .box_wrap .field #folder_wrap .folder .tooltip::after{
        top: -14px;
        left: 46px;
        border-width: 7px;
    }
    
    .box_wrap .field #folder_wrap .folder .tooltip::before{
        border-width: 0 8px 8px 8px;    
        top: -8px;
        left: 45px;
    }


}