@charset "utf-8";


/* main */
main{
    margin: 0 auto;
    margin: 0 70px; 
    padding: 0 30px;
}

.kor{
    font-family: 'Noto Sans KR', sans-serif;
}

#nav_title{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 3.5rem;
    position: fixed;
    top: 100px;
    left: 120px;
    z-index: 1;
}

#nav_sub_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    position: fixed;
    top: 170px;
    left: 125px;
    z-index: 1;
}

#content{
    width: 80%; 
    margin: auto;
    margin-top: 240px;
}

#content .category{
    width: 100%;
    top: 0;
    position: relative;
    border: 1px solid #c2cad1;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-bottom: 200px;
}

#content .category .title_wrap{
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #c2cad1;
    background: #e7eaec;
    border-radius: 10px 10px 0 0;  
    box-sizing: border-box; 
}

#content .category .title_wrap .circle{
    position: absolute;
    top: 7px;
    width: 17px;
    height: 17px;
    border: 1px solid #c2cad1;
    border-radius: 10px;
    box-sizing: border-box;
}

#content .category .title_wrap .c1{
    right: 9px;
    background: #ed6a5e;
}

#content .category .title_wrap .c2{
    right: 33px;
    background: #f5bf50;
}

#content .category .title_wrap .c3{
    right: 57px;
    background: #62c554;
}

#content .category .title_wrap .title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;      
    color: #000;  
    z-index: 1;          
}

#content .category .item_wrap{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    margin-top: 61px;
    background: transparent;
}

#content .category .item_wrap .item{
    text-align: center;
}

#content .category .item_wrap .item img{
    width: 280px;
    text-align: center;
}

#content .category .item_wrap .item h3{
    font-size:1.5rem;
    margin: 20px auto 10px auto;
    text-align: center;
}




/* click btn */
.click_btn{
    margin: 20px auto;
    width: 95px;
    height: 37px;
    line-height: 37px;
    border-radius: 40px;
    border: 1px solid var(--color);
    transition: 0.3s;
    text-align: center;
    overflow: hidden;
}

.click_btn a{
    display: block;
    position: relative;
    background: var(--color);
    color: var(--background);
}

.click_btn a:hover{
    background: var(--background);
    color: var(--color);
}
/* click btn */




/* fullpage */


/* fullpage slide */
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    left: 0 !important;
    right: 0;
    margin: 0 auto !important;
}

/* fullpage */







@media screen and (max-width: 1024px){

    #nav_title{
        font-size: 2.5rem;
        position: absolute;
        top: 95px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #nav_sub_title{
        position: absolute;
        top: 140px;
        left: 50%;
        transform: translateX(-50%);
    }

    #content{
        width: 100%;
        height: 500px;
        margin: 0 auto;
        margin-top: 200px;
        position: relative;
    }

    #content .category .title_wrap .title{
        font-size: 1.3em;
        padding: 12px;
    }



}





	







@media screen and (max-width: 767px){

    main{
        margin: 0 auto;
        margin-left: 0;
    }

    #nav_wrap{
        position: fixed;
        width: 100%;
        top: 70px;
        left: 0;
        height: 30px;
        background: var(--color); 
        display: flex;   
        z-index: 2;
    }
    
    #nav_title{
        position: absolute;
        height: 30px;
        line-height: 30px;
        top: 0;
        font-size: 1rem;
        color: var(--background);
        font-family: "Playwrite NZ", cursive;
        font-weight: 500;
    }
    
    #nav_sub_title{
        position: absolute;
        height: 30px;
        line-height: 30px;
        top: 0;
        font-size: 1rem;
        color: var(--background);
        display: none;
    }

    #content{
        margin-top: 130px;
    }
    

    #content .category .title_wrap .title{
        font-size: 1.2rem;
        padding: 10px;
    }

    #content .category .item_wrap{
        display: block;
        width: 100%;
        margin-top: 20px;
    }

    #content .category .item_wrap .item img{
        width: 200px;
        text-align: center;
    }
    
    #content .category .item_wrap .item h3{
        font-size: 1.2rem;
        margin: 15px auto 5px auto;
        text-align: center;
    }


    /* click btn */
    .click_btn{
        margin: 15px auto;
        width: 80px;
        height: 30px;
        line-height: 30px;
    }

    .click_btn a{
        font-size: 0.9rem;
    }
    /* click btn */

    

    /* fullpage */
    #fp-nav{
        display: none;
    }
    
    .fp-controlArrow.fp-prev {
        left: 20px;
        border-width: 15px 20px 15px 0;
    }
    .fp-controlArrow.fp-next {
        right: 20px;
        border-width: 15px 0 15px 20px;
    }

    .fp-controlArrow {
        margin-top: -15px;
    }

    #fp-nav ul li a.active span,
    .fp-slidesNav ul li a.active span,
    #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li:hover a.active span{
        height: 10px;
        width: 10px;
    }

    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        height: 7px;
        width: 7px;
    }

    /* fullpage */

}