@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
/* font-family: 'Lexend Exa', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */


.scrolltop {
        position: fixed;
        right: 30px;
        bottom: 30px;
        z-index: 1030;
		    width:70px;
        transition: all 0.5s ease-in-out;
      }

body{max-width: 375px; margin: 0 auto; font-family: 'Noto Sans KR', sans-serif; text-align: center;}
a{text-decoration:none; color:#000;}

header{width: 375px; height:80px; background: #ffb500; position: fixed; left: 50%; transform: translateX(-50%); z-index: 99999;}
header h1{font-family: 'Lexend Exa', sans-serif; font-size: 1.5rem; color: #000;
          line-height :80px; box-sizing: border-box;} 
.search{background: none; outline: none; border: 0; width: 35px;
        position: absolute; top: 28px; left: 10px; cursor: pointer;}
.hamburger{background: none; outline: none; border: 0; width: 35px;
           position: absolute; top: 28px; right: 10px; cursor: pointer;}
.bold{font-weight: 500;}
h4{font-weight: 500;}
		   
		   
/* header */
input{width: 90%; background:#ffb500; border-radius: 0; height: 40px; margin-top: 80px;
      border: 3px solid #000; box-sizing: border-box; transition: all 0.5s; margin-bottom: 15px; padding-left: 10px;}	
input:focus{border: 2px solid #000; outline: none;}
input::placeholder{color: #000;}
input::-webkit-input-placeholder {color: #000;}
input:-ms-input-placeholder {color: #000;}

.gnb{display:none; background:#ffb500; width: 375px; position:fixed; left: 50%; transform: translateX(-50%); z-index: 9999;}
.gnb>ul>li{font-family: 'Lexend Exa', sans-serif; padding-top:20px; padding-bottom:20px;}
.gnb>ul>li:hover{background:#fcdf98;}
.gnb ul li a{color:#000; padding-top:10px;}
.gnb li img{width:20px; position:absolute; right:30px;}
.gnb span{display:block; font-family: 'Noto Sans KR', sans-serif;}
.gnb .sub{display:none; background:#fff; margin-top:15px;}
.gnb .sub li{text-align:center; line-height:60px;}
.gnb .sub a:hover{color:#ffb500;}
.gnb .btn{margin-top:10px;}
	
	
/* NEW */
#main_contents{background:#ffb500; height: 660px;}
#main_contents p{padding-top:80px;}
#body_col{margin-top:40px;}
#body_col .kor{font-weight: bold; margin-top:20px;}
#body_col .eng{font-family: 'Lexend Exa', sans-serif; font-weight:normal; margin-bottom:20px;}
#body_col ul li{font-size:0.9em;}
#main_contents .btn_shopnow{width:120px; margin:40px auto;}



/* 이번 주 인기상품 */
#best_seller{background:#3a6734; height:540px; overflow:hidden; position: relative;}
#best_seller h2{padding-top:50px; padding-bottom:50px;}
#best_seller .prdt{display:flex; overflow: hidden; height: inherit; position: absolute; top: 150px;}
#best_seller .prdt .primary{animation: primary 10s linear infinite;}
#best_seller .prdt .secondaey{animation: secondary 10s linear infinite;}
#best_seller .prdt .box{height: 500px; margin-left: 50px; position: relative;}
#best_seller .prdt .box ul{background:#fff; height:250px; width:130px; border-radius:90px;position:relative;}
#best_seller .prdt .box .prdt_img{width:90px; position:absolute; left:22px; top:22px;}
#best_seller .prdt .box .btn_shopnow{width:73px; position:absolute; left:30px; bottom:23px;}
#best_seller .prdt .box li{position:absolute; bottom:-80px; left:23px;}
#best_seller .prdt .box .prdt_name{margin-bottom:5px; font-size:0.9em; font-weight:bold;}
#best_seller .prdt .box span{display:block; font-size:0.8em;}

.primary {
  animation: primary 10s linear infinite;
}

.secondary {
  animation: secondary 10s linear infinite;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -540px;
  }
}

@keyframes secondary {
  from {
    left: 540px;
  }
  to {
    left: 0%;
  }
}



/* 카멜리아 */
#camelia{background:#3a6734; height:580px; overflow: hidden;}
#camelia .box{background:#fcdf98; height:580px; border-radius:0 90px 0 0;}
#camelia h2{padding-top:60px; margin-bottom:20px;}
#camelia span{display:block; font-family: 'Lexend Exa', sans-serif; font-weight:normal;}
#camelia .btn_shopnow{width:120px; margin:30px auto;}
#camelia p{width:300px; margin:50px auto;}

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration:1.5s;
  animation-duration:1.5s;
}
.wp_camelia{visibility:hidden;}
.fadeInLeft{visibility:visible;}



/* 홈 프레그런스 */
#home_frag{background:#ff7200; width:100%; height:1300px; overflow: hidden;}
#home_frag h2{padding-top:50px;}
#home_frag p{width:300px; margin:50px auto 70px auto;}
#home_frag .prdt{display:flex; flex-wrap:wrap;}
#home_frag .box1{width:45%; padding-bottom:120px; padding-left:10%;}
#home_frag .box2{width:45%;}
#home_frag .box3{width:45%; padding-left:10%;}
#home_frag .box4{width:45%;}
#home_frag .box1 ul{background:#fff; height:250px; width:130px; border-radius:90px;
                    position:relative; justify-content:space-between;}
#home_frag .box2 ul{background:#fff; height:250px; width:130px; border-radius:90px;
                    position:relative; justify-content:space-between;}
#home_frag .box3 ul{background:#fff; height:250px; width:130px; border-radius:90px;
                    position:relative; justify-content:space-between;}
#home_frag .box4 ul{background:#fff; height:250px; width:130px; border-radius:90px;
                    position:relative; justify-content:space-between;}
#home_frag .diff{width:70px; position:absolute; left:32px; top:20px;}
#home_frag .cndl{width:80px; position:absolute; left:26px; top:70px;}
#home_frag .btn_shopnow{width:73px; position:absolute; left:30px; bottom:25px;}
#home_frag li{position:absolute; bottom:-80px; left:40px;}
#home_frag .prdt_descript{position:absolute; bottom:-80px; left:20px;}
#home_frag .prdt_name{margin-bottom:5px; font-size:0.9em; font-weight:bold;}
#home_frag span{display:block; font-size:0.8em;}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes fadeInDown2 {
  0% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInDown2 {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.wp1, .wp2{visibility: hidden;}
.fadeInDown, .fadeInDown2{visibility: visible;}



/* 애장 혜택 */
#event{background:#3a6734; width:100%; height:930px; overflow: hidden;}
#event h2{padding-top:60px; padding-bottom:60px;}
#event span{display:block;}
#gift{background:#fff; width:300px; height:300px; border-radius:0 90px 90px 0;
      float:left; left:0; position:relative;}
#gift ul li>img{width:150px; position:absolute; left:20%;}
#gift .descript{position:absolute; top:140px; left:30px; font-size:0.8rem;}
#gift .descript .title{font-size:1rem; font-weight:bold; margin-top:5px; margin-bottom:7px;}
#gift .btn_discover{width:93px; position:absolute; top:245px; left:95px;}

#initial{background:#fff; width:300px; height:300px; border-radius:90px 0 0 90px;
         margin-top:60px; float:right; right:0; position:relative;}
#initial ul li>img{width:130px; position:absolute; right:25%;}
#initial .descript{position:absolute; top:140px; right:30px; font-size:0.8rem;}
#initial .descript .title{font-size:1rem; font-weight:bold; margin-top:5px; margin-bottom:7px;}
#initial .btn_discover{width:93px; position:absolute; top:245px; right:95px;}

@keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration:1.5s;
  animation-duration:1.5s;
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration:1.5s;
  animation-duration:1.5s;
}
  
.wp3, .wp4{visibility:hidden;}
.fadeInLeft, .fadeInRight{visibility:visible;}



/* 세계관 */
#brand{background:#3a6734; width:100%; height:1740px; overflow: hidden;}
#brand .box{background:#fcdf98; border-radius:90px 90px 0 0; width:100%; height:1740px;}
#brand h2{padding-top:70px; padding-bottom:30px;}
#brand span{display:block;}
#brand ul li{margin-top:30px;}
#brand ul li img{width:300px;}
#brand .btn_discover{width:105px; margin:20px auto 60px auto;}
#brand .eng{font-family: 'Lexend Exa', sans-serif;}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration:1s;
  animation-duration:1s;
}

@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(130px);
    transform: translateY(130px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.wp_brand{visibility:hidden;}
.fadeInUp{visibility:visible;}



/* footer */
footer{background:#fcdf98; overflow: hidden;}
footer div{background:#ffb500; width:100%; height: 670px; font-family: 'Lexend Exa', sans-serif;}
footer .icon{display:flex;}
footer .icon li{width:20%; margin-top:60px; margin-bottom:25px;}
footer .icon li img{width:40px;}
footer ul li{margin:30px auto; font-size:1.2rem;}
footer ul li a{color:#000;}
footer h2{padding-top:10px;}
footer h2 a{font-size:30px; color:#000;}
footer .descript{margin-top: 40px;}
footer p{font-size: 14px; line-height: 22px;}
footer .mail{margin-top: 20px;}



@keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration:1.5s;
  animation-duration:1.5s;
}
.wp_footer{visibility:hidden;}
.fadeInUp{visibility:visible;}
